.header {
  text-align: center;
}

.toast {
  margin: 0 auto;
}

.react-bootstrap-table table {
  table-layout: auto;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}